<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch, local: true do |f| %>
  <div>
    <lavel>Title</lavel>
    <%= f.text_field :title %>
  </div>
  <div>
    <lavel>Body</lavel>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to 'Show', show_book_path %>
<%= link_to 'Back', book_path %>